.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.ant-drawer-body {
    padding: 0;
}

.shadow-container-no-alarm {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.shadow-container-alarm {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border-color: #ff0000;
    border-style: solid;
    animation-duration: 500ms;
    animation-name: map-border;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

@keyframes map-border {
    from {
        border-width: 8px;
    }

    to {
        border-width: 1px;
    }
}

