.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.ant-drawer-body {
  padding: 0;
}

.shadow-container-no-alarm {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.shadow-container-alarm {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  pointer-events: none;
  box-sizing: border-box;
  border-color: #ff0000;
  border-style: solid;
  animation-duration: 500ms;
  animation-name: map-border;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

@keyframes map-border {
  from {
    border-width: 8px;
  }

  to {
    border-width: 1px;
  }
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_400.eot?#iefix");
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_400.eot?#iefix")
      format("eot"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_400.woff2") format("woff2"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_400.woff") format("woff"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_400.ttf")
      format("truetype"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_400.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.eot?#iefix");
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.eot?#iefix")
      format("eot"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.woff2")
      format("woff2"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.woff")
      format("woff"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.ttf")
      format("truetype"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_400.svg")
      format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_600.eot?#iefix");
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_600.eot?#iefix")
      format("eot"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_600.woff2") format("woff2"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_600.woff") format("woff"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_600.ttf")
      format("truetype"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_600.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.eot?#iefix");
  src: url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.eot?#iefix")
      format("eot"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.woff2")
      format("woff2"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.woff")
      format("woff"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.ttf")
      format("truetype"),
    url("../assets/fonts/avenir-next/Avenir_Next_W00_Italic_600.svg")
      format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CalciteWebCoreIcons";
  src: url("../assets/fonts/icons/fonts/CalciteWebCoreIcons.ttf?iz9r4h")
      format("truetype"),
    url("../assets/fonts/icons/fonts/CalciteWebCoreIcons.woff?iz9r4h")
      format("woff"),
    url("../assets/fonts/icons/fonts/CalciteWebCoreIcons.svg?iz9r4h#CalciteWebCoreIcons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
